<div class="row">
  <div class="col-xs-12">
    <img src="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>{{selectedRecipe?.name}}</h2>
  </div>

</div>
<div class="row">
  <div class="col-md-4" >
    <div class="btn-group"
    appDropdown>
      <button
      type="button"
      class="btn btn-primary dropdown-toggle">
      Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="addIngToShopping()">To Shopping List</a></li>
        <li><a style="cursor: pointer;">Edit Recipe</a></li>
        <li><a style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr>
    <h4>{{selectedRecipe?.description}}</h4>
  </div>
  <div class="col-xs-2">
    <img src={{selectedRecipe?.imagePath}}
      alt=""
      style="max-height: 30vw;"
      >
  </div>
</div>
<div class="row" style="margin-top: 14px;">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ing of selectedRecipe?.ingredients"
      >
    {{ing.name}}  --  {{ing.amount}}
    </li>
    </ul>
  </div>
</div>
